#home{
  background-image: url("../image/background/h_img.jpg");
  height: 1000px;
  color:white;
  text-align: center;
  font-size: 1.5em;
  
 }

.logo{
  margin-top:300px;
  margin-bottom:50px;
}

h1{
  font-size:3.7em;
}

.mouse{
  margin-top:230px;
}

#about{
  text-align: center;
  font-size: 1.5em;
  line-height:1.5em;
  height:250px;
  margin-top:70px;
}

#service{
  background-image: url("../image/background/s_image.jpg");
  color:white;
  text-align: center;
  height:400px;
  font-size: 2em;
}

.service{
  padding-top:100px;
}

#wedo{
  height:500px;
  text-align: center;
}
#desc{
  display:none;
}
#delpt{
  display:none;
}
#pro{
  display:none;
}

