/* This is the user interface logic */
#home{
  background-image: url("../image/background/h_img.jpg");
  height: 1000px;
  color:white;
  text-align: center;
  font-size: 1.5em;
  
 }

.logo{
  margin-top:300px;
  margin-bottom:50px;
}

h1{
  font-size:3.7em;
}

.mouse{
  margin-top:230px;
}

#about{
  text-align: center;
  font-size: 1.5em;
  line-height:1.5em;
  height:250px;
  margin-top:70px;
}

#service{
  background-image: url("../image/background/s_image.jpg");
  color:white;
  text-align: center;
  height:450px;
  font-size: 2em;
}

.service{
  padding-top:50px;
}

#wedo{
  height:350px;
  text-align: center;
}
#desc{
  display:none;
}
#delpt{
  display:none;
}
#pro{
  display:none;
}

#portfolio1{
  height:350px;
  justify-content: space-between;
}

#portfolio2{
  height:350px;
}

#image1{
  width:100%;
  position: relative;
}

#p1{
  position: absolute;
  top:30px;
  left:10px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
  border: 1px solid white;
  width:70%;
  height:80%;
  padding-top:5%; 
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p2{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:red;
  display:none;
  font-size: 1.5em;
  top:30px;
  left:10px;
  background-color: transparent;
  border: 1px solid red;
  width:70%;
  height:80%;
  padding-top:5%; 
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p3{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
  top:30px;
  left:10px;
  background-color: transparent;
  border: 1px solid white;
  width:70%;
  height:80%;
  padding-top:5%;
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p4{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
  top:30px;
  left:10px;
  background-color: transparent;
  border: 1px solid white;
  width:70%;
  height:80%;
  padding-top:5%;
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p5{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:black;
  display:none;
  font-size: 1.5em;
  top:30px;
  left:10px;
  background-color: transparent;
  border: 1px solid black;
  width:70%;
  height:80%;
  padding-top:5%; 
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p6{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:black;
  display:none;
  font-size: 1.5em;
  top:30px;
  left:10px;
  background-color: transparent;
  border: 1px solid black;
  width:70%;
  height:80%;
  padding-top:5%;
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p7{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
  top:30px;
  left:10px;
  background-color: transparent;
  border: 1px solid white;
  width:70%;
  height:80%;
  padding-top:5%; 
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#p8{
  position: absolute;
  top:30px;
  left:40px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 2.5em;
  left:10px;
  background-color: transparent;
  border: 1px solid white;
  width:70%;
  height:80%;
  /* padding-top:20%;  */
  border-width: medium;
  margin-left: 10%;
  text-align: center;
}

#image2{
  width:100%;
}

#image3{
  width:100%;
}

#image4{
  width:100%;
}

#image5{
  width:100%;
}

#image6{
  width:100%;
}

#image7{
  width:100%;
}

#image8{
  width:100%;
}

#contact{
  background-image: url("../image/background/c_image.jpg");
  height:550px;
  color:white;
  font-size: 2em;
  text-align: center;
}

#name{
  width:80%;
  background-color: transparent;
  color:white;
  margin-top: 50px;
}
#email{
  width:80%;
  background-color: transparent;
  color:white;
  margin-top: 50px;
}

#message{
  width:90%;
  height:200px;
  top:0;
  background-color: transparent;
  color:white;
  margin-top: 50px;
}

input[type=text], select{
  color:white;
}

::placeholder {
  color: white;
}

#submit{
  color:black;
  border:solid black;
  border-radius:45px;
  margin-top: 20px;
}

#social{
  margin-top:50px;
  height:100px;
}


footer{
  text-align: center;
  font-size: 1.5em;
}





