#home{
  background-image: url("../image/background/h_img.jpg");
  height: 1000px;
  color:white;
  text-align: center;
  font-size: 1.5em;
  
 }

.logo{
  margin-top:300px;
  margin-bottom:50px;
}

h1{
  font-size:3.7em;
}

.mouse{
  margin-top:230px;
}

#about{
  text-align: center;
  font-size: 1.5em;
  line-height:1.5em;
  height:250px;
  margin-top:70px;
}

#service{
  background-image: url("../image/background/s_image.jpg");
  color:white;
  text-align: center;
  height:250px;
  font-size: 2em;
}

.service{
  padding-top:50px;
}

#wedo{
  height:350px;
  text-align: center;
}
#desc{
  display:none;
}
#delpt{
  display:none;
}
#pro{
  display:none;
}

#portfolio1{
  height:350px;
  justify-content: space-between;
}

#portfolio2{
  height:350px;
}

#image1{
  width:100%;
  position: relative;
}

#p1{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
}

#p2{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:red;
  display:none;
  font-size: 1.5em;
}

#p3{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
}

#p4{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
}

#p5{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:black;
  display:none;
  font-size: 1.5em;
}

#p6{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:black;
  display:none;
  font-size: 1.5em;
}

#p7{
  position: absolute;
  top:90px;
  left:80px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 1.5em;
}

#p8{
  position: absolute;
  top:30px;
  left:40px;
  background-color: transparent;
  color:whitesmoke;
  display:none;
  font-size: 2em;
}

#image2{
  width:100%;
}

#image3{
  width:100%;
}

#image4{
  width:100%;
}

#image5{
  width:100%;
}

#image6{
  width:100%;
}

#image7{
  width:100%;
}

#image8{
  width:100%;
}

#contact{
  background-image: url("../image/background/c_image.jpg");
  height:500px;
}






